In [29]:
# https://docs.astropy.org/en/stable/table/pandas.html

In [22]:
# Correct code
import os
import glob
from astropy.table import Table
import pandas as pd
# Set the working directory
os.chdir("/home/jovyan/test/")
# Find all files with a certain extension
extension_1 = 'tbl'
import_filenames = [i for i in glob.glob('*.{}'.format(extension_1))]
df = pd.DataFrame()
for f in import_filenames:
    read = Table.read(f, format='ascii.ipac')
    read.to_pandas()
    df = df.append(read.to_pandas())
df.describe()

                 set           TIME    PDCSAP_FLUX
count  181325.000000  181325.000000  181325.000000
mean        7.480722     839.752442   24944.236802
std         4.351878     422.387648    7282.309489
min         0.000000     131.511799   13976.136000
25%         4.000000     467.806569   15938.811000
50%         8.000000     841.680209   27518.137000
75%        11.000000    1206.317676   32038.025000
max        16.000000    1591.001012   33350.926000

In [20]:
df.isnull().sum()

set            0
TIME           0
PDCSAP_FLUX    0
dtype: int64

In [21]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
51726    False
51727    False
51728    False
51729    False
51730    False
Length: 181325, dtype: bool

In [23]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
51726    False
51727    False
51728    False
51729    False
51730    False
Length: 181325, dtype: bool

In [27]:
from astropy.table import Table
t = Table.read('Kepler-1039.tbl', format='ascii.ipac')
data = t.to_pandas()
data

       set         TIME  PDCSAP_FLUX
0        0   131.511799    33039.680
1        0   131.532234    33039.121
2        0   131.552669    33023.484
3        0   131.573103    33007.301
4        0   131.593537    33016.062
...    ...          ...          ...
64792   16  1590.919125    32011.113
64793   16  1590.939559    32007.348
64794   16  1590.959994    32006.482
64795   16  1590.980428    32003.469
64796   16  1591.000863    32003.426

[64797 rows x 3 columns]

In [28]:
51731+64797+64797

181325

In [ ]:
# Correct code
import os
import glob
from astropy.table import Table
import pandas as pd
import from tsfresh import extract_features
# Set the working directory
os.chdir("/home/jovyan/test/")
# Find all files with a certain extension
extension_1 = 'tbl'
import_filenames = [i for i in glob.glob('*.{}'.format(extension_1))]
df = pd.DataFrame()
for f in import_filenames:
    read = Table.read(f, format='ascii.ipac')
    data = read.to_pandas()
    
    df = df.append(read.to_pandas())
df.describe()

In [ ]:
from tsfresh import extract_features
from tsfresh.utilities.dataframe_functions import impute
from tsfresh.feature_extraction import ComprehensiveFCParameters
from astropy.table import Table
t = Table.read('test/Kepler-1037.tbl', format='ascii.ipac')
df = t.to_pandas()

extraction_settings = ComprehensiveFCParameters()

X = extract_features(df, column_id='set', column_sort='TIME',
                     default_fc_parameters=extraction_settings,
                     # we impute = remove all NaN features automatically
                     impute_function=impute)

Feature Extraction:  43%|â–ˆâ–ˆâ–ˆâ–ˆâ–Ž     | 6/14 [02:30<02:18, 17.36s/it]

In [ ]:
# Correct code
from tsfresh import extract_features
from tsfresh.utilities.dataframe_functions import impute
from tsfresh.feature_extraction import ComprehensiveFCParameters
import os
import glob
from astropy.table import Table
import pandas as pd
from tsfresh import extract_features
# Set the working directory
os.chdir("/home/jovyan/test/")
# ts fresh modules
extraction_settings = ComprehensiveFCParameters()
# Find all files with a certain extension
extension_1 = 'tbl'
import_filenames = [i for i in glob.glob('*.{}'.format(extension_1))]
df = pd.DataFrame()
for f in import_filenames:
    read = Table.read(f, format='ascii.ipac')
    data = read.to_pandas()
    ts_data = extract_features(data, column_id='set', column_sort='TIME', default_fc_parameters=extraction_settings,impute_function=impute)
    df = df.append(ts_data)
df.describe()

Feature Extraction:   6%|â–Œ         | 1/17 [00:21<05:48, 21.81s/it]

In [10]:
# importing pandas as pd
import pandas as pd

# list of name, degree, score
nme = ["aparna", "pankaj", "sudhir", "Geeku"]
deg = ["MBA", "BCA", "M.Tech", "MBA"]
scr = [90, 40, 80, 98]

# dictionary of lists
dict = {'name': nme, 'degree': deg, 'score': scr}
	
df = pd.DataFrame(dict)

# saving the dataframe
df.to_csv('file1.csv', index=False)

In [11]:
import pandas as pd
data = pd.read_csv('file1.csv')

In [12]:
data.head()

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98